<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<!-- Mikasa Favicon - Updated -->
		<link rel="icon" type="image/png" href="/mikasa.png" />
		<link rel="apple-touch-icon" href="/mikasa.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Scuba Adventures</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
